<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/board.css}"/>
    <title>Insert title here</title>
</head>
<body>
<div class="container">
    <h2>회원 목록</h2>
    <table class="user_list">
        <colgroup>
            <col width="15%"/>
            <col width="*"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">회원아이디</th>
            <th scope="col">이름</th>
            <th scope="col">닉네임</th>
            <th scope="col">이메일</th>
            <th scope="col">이메일 보내기</th>
            <th scope="col">등급</th>
            <th scope="col">회원가입날짜</th>
            <th scope="col">업데이트날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(list)} > 0" th:each="list:${list}">
            <td th:text="${list.userId}"></td>
            <td class="totle" th:text="${list.userName}"></td>
            <td th:text="${list.nickname}"></td>
            <td th:text="${list.email}"></td>
            <td>
                <a href="sendEmail?user_id=" th:attrappend="href=${list.userId}" class="btn">이메일<br>보내기</a>
            </td>
            <td th:text="${list.role}"></td>
            <td th:text="${list.createdAt}"></td>
            <td th:text="${list.updateAt}"></td>
        </tr>
        <tr th:unless="${#lists.size(list)} > 0">
            <td colspan="4">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>